<!DOCTYPE html>
<html lang="en">
<title>Currency Converter</title>
<h2>FX currency conversion API
<img src="http://images.clipartpanda.com/animated-globe-gif-earthro_e0.gif" alt="earth" style="width:60px;height:48px;">
</h2>
   <body>
      <form action = "http://localhost:5000/convert" method = "POST">
         <p>Enter amount to convert:</p>
         <p><input type = "number" step="0.01" min= "0" name = "nm" /></p>
	
 <p>Select input currency:</p>        
<select name= in_rate method="GET" action="/">
    {% for rate in in_rate %}
    <option value= "{{rate}}" SELECTED>{{rate}}</option>"
    {% endfor %}
</select>
<p>Select output currency:</p>
<select name= out_rate method="GET" action="/">
    {% for rate in out_rate %}
    <option value= "{{rate}}" SELECTED>{{rate}}</option>"
    {% endfor %}
</select>
         <p><input type = "submit" value = "Convert" /></p>
      </form>
   </body>
</html>
